.my_border_color{
	border-color: #0AA1ED;
}
.my_border_color:focus{box-shadow: 0px 0px 0px 0xp #000;}
.breadcrumb-item+.breadcrumb-item::before{
	content: "|";
}
/* input{
	width: 409px;
	    height: 36px;
	    padding: 10px;
	    outline: none;
	    border: 1px solid #0AA1ED;
	    background-color: #f5f5f5;
	    box-sizing: border-box;
} */